<%# File: views/partials/forum-post-item.ejs %>
<%# Đây là một partial, hiển thị một mục bài đăng trong danh sách %>

<div class="card post-item-card mb-3 <%= post.isSticky ? 'sticky-post' : '' %>">
    <div class="row g-0">
        <div class="col-auto post-item-avatar-col">
            <a href="/user/<%= post.author.username %>">
                <img src="<%= post.author.avatar %>" alt="<%= post.author.fullName %>" class="post-item-avatar rounded-circle">
            </a>
        </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title post-item-title">
                    <% if(post.isSticky) { %> <i class="fas fa-thumbtack text-muted me-1"></i> <% } %>
                    <a href="/forum/post/<%= post._id %>"><%= post.title %></a>
                </h5>
                <p class="card-text post-item-meta">
                    <small>
                        Đăng bởi <a href="/user/<%= post.author.username %>" class="author-link"><%= post.author.fullName %></a> • 
                        <span><%= moment(post.lastActivity).fromNow() %></span> trong mục 
                        <a href="/forum?category=<%= post.category %>" class="category-link"><%= post.category %></a>
                    </small>
                </p>
            </div>
        </div>
        <div class="col-auto post-item-stats-col text-end">
            <span class="post-stat" title="Lượt thích"><i class="far fa-heart"></i> <%= post.likes.length || 0 %></span>
            <span class="post-stat" title="Bình luận"><i class="far fa-comment"></i> <%= post.commentsCount || 0 %></span>
            <span class="post-stat" title="Lượt xem"><i class="far fa-eye"></i> <%= post.views || 0 %></span>
        </div>
    </div>
</div>
